.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
src/test/mod-test
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
